<div class="main-portfolio-container text-black w-full h-screen flex ">
  @if(!isMobile){
    <div
    class="overflow-hidden main-info-container w-1/2 px-14 flex flex-col justify-center items-center relative"
  >
    <span class="backdrop overflow-hidden"></span>
    <app-holographic-ring [expandRing]="expandRing"></app-holographic-ring>
  
    

    <div class="my-info-container w-full">
      <h1 class="my-name">Farid Fehresti</h1>
      <h2 class="my-title">Full Stack Web Developer</h2>
      <p class="max-w-xs">
        I build accessible, pixel-perfect digital experiences for the web
      </p>
    </div>
    <div class="menu-container w-full flex flex-col gap-2">
      <a class="menu-item" 
         [class.menu-item-selected]="activeSection === 'about'"
         (click)="scrollToSection('about')">
        <span class="link-line"></span>
        About
      </a>
      <a class="menu-item"
         [class.menu-item-selected]="activeSection === 'expriences'"
         (click)="scrollToSection('expriences')">
        Expriences
      </a>
      <a class="menu-item"
         [class.menu-item-selected]="activeSection === 'stack'"
         (click)="scrollToSection('stack')">
        Stack
      </a>
      <a class="menu-item"
         [class.menu-item-selected]="activeSection === 'projects'"
         (click)="scrollToSection('projects')">
        Projects
      </a>
    </div>
    
    <div class="links-container w-full flex gap-4 text-3xl mt-8">
      <a class="link-item" href="https://github.com/FaridFehresti" target="_blank" ><span class="icon-github"></span></a>
      <a class="link-item" href=""><span class="icon-linkedin"></span></a>
      <a class="link-item" href=""><span class="icon-instagram"></span></a>

    </div>
  </div>
  }
  <div #scrollerContainer [class]="!isMobile  ? 'scroller-container w-1/2  overflow-y-auto' : 'scroller-container w-full overflow-y-auto'">
    @if(isMobile){
      <div
    class="overflow-hidden main-info-container !h-screen w-full px-12 pb-8 flex flex-col justify-center items-center"
  >
    <span class="backdrop overflow-hidden"></span>
    <app-holographic-ring [expandRing]="expandRing"></app-holographic-ring>

    <div class="my-info-container w-full">
      <h1 class="my-name !text-5xl">Farid Fehresti</h1>
      <h2 class="my-title !text-2xl">Full Stack Web Developer</h2>
      <p class="max-w-xs">
        I build accessible, pixel-perfect digital experiences for the web
      </p>
    </div>
    <div class="menu-container w-full flex flex-col gap-2">
      <a class="menu-item" 
         [class.menu-item-selected]="activeSection === 'about'"
         (click)="scrollToSection('about')">
        <span class="link-line"></span>
        About
      </a>
      <a class="menu-item"
         [class.menu-item-selected]="activeSection === 'expriences'"
         (click)="scrollToSection('expriences')">
        Expriences
      </a>
      <a class="menu-item"
         [class.menu-item-selected]="activeSection === 'stack'"
         (click)="scrollToSection('stack')">
        Stack
      </a>
      <a class="menu-item"
         [class.menu-item-selected]="activeSection === 'projects'"
         (click)="scrollToSection('projects')">
        Projects
      </a>
    </div>
    
    <div class="links-container w-full flex gap-4 text-3xl mt-8">
      <a class="link-item" href="https://github.com/FaridFehresti" target="_blank" ><span class="icon-github"></span></a>
      <a class="link-item" href=""><span class="icon-linkedin"></span></a>
      <a class="link-item" href=""><span class="icon-instagram"></span></a>

    </div>
  </div>
    }
    <div class="about  px-12 py-8">
      <div class="about-text-container py-4 flex flex-col gap-4">
        <p
          [appTypewriter]="paragraphHtml1"
          [speed]="100"
          [cursorSpeed]="100"
          class="text-white "

        ></p>
        <p
          [appTypewriter]="paragraphHtml2"
          [speed]="100"
          [cursorSpeed]="100"
          class="text-white "

        ></p>
        <p
          [appTypewriter]="paragraphHtml3"
          [speed]="100"
          [cursorSpeed]="100"
          class="text-white "
        ></p>
      </div>
      <div class="about-header-container flex flex-col gap-6">
        <!-- Frontend Developer Section -->
        <div class="header-card-item p-2  w-1/2">
          <div class="card-header flex gap-4 items-center">
            <img class="icon-image mb-4" [src]="reactImage" alt="" />
            <div class="card-header-text-container flex flex-col text-white">
              <span class="text-2xl font-bold">Frontend Dev</span>
              <span class="text-2xl font-bold">React, Next.js, Angular</span>
            </div>
          </div>
          <div class="card-header-content relative">
            <div class="tags-container flex flex-col justify-center w-fit items-center">
              <span class="font-bold text-white">{{ "&lt;h3&gt;" }}</span>
              <span class="tag-line"></span>
              <span class="font-bold text-white">{{ "&lt;/h3&gt;" }}</span>
            </div>
            <p appTypewriter="Experienced in building interactive, responsive user interfaces using React, Next.js, and Angular, focused on seamless user experience."
               [speed]="50"
               [cursorSpeed]="200"
               class="text-content absolute text-inherit text-white">
            </p>
          </div>
        </div>
      
        <div class="header-card-item p-2">
          <div class="card-header flex gap-4 items-center">
            <img class="icon-image mb-4" [src]="serverImage" alt="" />
            <div class="card-header-text-container flex flex-col text-white">
              <span class="text-2xl font-bold">Backend Dev</span>
              <span class="text-2xl font-bold">NodeJs, NestJs</span>
            </div>
          </div>
          <div class="card-header-content relative">
            <div class="tags-container flex flex-col justify-center w-fit items-center gap-4">
              <span class="font-bold text-white">{{ "&lt;h3&gt;" }}</span>
              <span class="tag-line"></span>
              <span class="font-bold text-white">{{ "&lt;/h3&gt;" }}</span>
            </div>
            <p appTypewriter="Specialized in developing scalable and secure backend systems using Node.js and NestJS to power robust web applications."
               [speed]="50"
               [cursorSpeed]="200"
               class="text-content absolute text-inherit text-white">
            </p>
          </div>
        </div>
      </div>
      
    </div>
    <div class="expriences px-12 py-8">
      @for(exprience of listOfExpriences ; track $index){
        <div class="exprience-card">
          <div class="date-container">
            <span class="date">{{exprience.date}}</span>
          </div>
          <div class="content">
            <span class="title">{{exprience.title}}</span>
            <span class="description">{{exprience.description}}</span>
           <div class="skills-container flex-wrap">
            @for (skill of exprience.skils; track $index) {
              <span class="skill-item">{{skill}}</span>
            }
           </div>
          </div>
        </div>
      }

    </div>
    <div class="stack w-full px-12 py-8 flex gap-4 text-white  h-screen items-center justify-center">
      <div class="frontend w-full flex flex-col  gap-2 h-96 ">
        <h5>Frontend Dev</h5>
        <div class="stack-items-container flex gap-2 flex-wrap">

        @for(item of listOfFrontendStacks; track $index){
          <span class="stack-item">{{item.name}}</span>
        }</div>
    </div>
    <div class="backend w-full flex flex-col  gap-2 h-96 ">
        <h4>Backend Dev</h4>
        <div class="stack-items-container flex gap-2 flex-wrap">
          @for(item of listOfBackendStacks; track $index){
            <span class="stack-item">{{item.name}}</span>
          }
        </div>
        
    </div>
    </div>
    <div class="projects  px-12 py-8">projects</div>
  </div>
  <div class="light" [ngStyle]="lightStyle"></div>
</div>
