<div class="main-portfolio-container text-black w-full h-screen flex">
  <div
    class="overflow-hidden main-info-container w-1/2 px-14 flex flex-col justify-center items-center"
  >
    <span class="backdrop overflow-hidden"></span>
    <app-holographic-ring [expandRing]="expandRing"></app-holographic-ring>

    <div class="my-info-container w-full">
      <h1 class="my-name">Farid Fehresti</h1>
      <h2 class="my-title">Full Stack Web Developer</h2>
      <p class="max-w-xs">
        I build accessible, pixel-perfect digital experiences for the web
      </p>
    </div>
    <div class="menu-container w-full flex flex-col gap-2">
      <a class="menu-item-selected w-full">
        <span class="link-line"></span>
        About
      </a>
      <span (click)="onExprienceClick()" class="menu-item cursor-pointer">
        Expriences
      </span>
      <a
        class="menu-item"
        href="
        "
      >
        Stack</a
      >
      <a class="menu-item" href=""> Projects </a>
    </div>
  </div>
  <div class="scroller-container w-1/2 px-12 py-8 overflow-y-auto">
    <div class="about">
      <div class="about-text-container py-4">
        <p
          [appTypewriter]="paragraphHtml"
          [speed]="75"
          [cursorSpeed]="500"
          class="text-white "
        ></p>
      </div>
      <div class="about-header-container flex flex-col gap-6">
        <div
          [@zoomInRight]="animationState"
          class="header-card-item p-2 w-1/2"
          [ngClass]="displayComponent ? '' : 'display-none'"
        >
          <div class="card-header flex gap-4 items-center">
            <img class="icon-image mb-4" [src]="reactImage" alt="" />
            <div class="card-header-text-container flex flex-col text-white">
              <span class="text-2xl font-bold">Frontend Dev</span>
              <span class="text-2xl font-bold">React,NextJs,Angular</span>
            </div>
          </div>
          <div class="card-header-content relative">
            <div
              class="tags-container flex flex-col justify-center w-fit items-center"
            >
              <span class="font-bold text-white">{{ "&lt;h3&gt;" }}</span>
              <span class="tag-line"></span>
              <span class="font-bold text-white">{{ "&lt;/h3&gt;" }}</span>
            </div>
            <div class="text-content absolute text-inherit text-white">
              Passionate about UI/UX. Over 5 years of development experience in
              HTML, CSS, JS, React and NextJS frameworks.
            </div>
          </div>
        </div>
        <div [@zoomInRight]="animationState" class="header-card-item p-2">
          <div class="card-header flex gap-4 items-center">
            <img class="icon-image mb-4" [src]="serverImage" alt="" />

            <div class="card-header-text-container flex flex-col text-white">
              <span class="text-2xl font-bold">Backend Dev </span>
              <span class="text-2xl font-bold">NodeJs,NestJs</span>
            </div>
          </div>
          <div class="card-header-content relative">
            <div
              class="tags-container flex flex-col justify-center w-fit items-center"
            >
              <span class="font-bold text-white">{{ "&lt;h3&gt;" }}</span>
              <span class="tag-line"></span>
              <span class="font-bold text-white">{{ "&lt;/h3&gt;" }}</span>
            </div>
            <div class="text-content absolute text-white">
              Passionate about UI/UX. Over 5 years of development experience in
              HTML, CSS, JS, React and NextJS frameworks.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="expriences">Expriences</div>
    <div class="stack">stack</div>
    <div class="projects">projects</div>
  </div>
  <div class="light" [ngStyle]="lightStyle"></div>
  <!-- Use ngStyle to bind styles dynamically -->
</div>
