.main-portfolio-container {
  background-color: rgba(0, 0, 0, 1);
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-family: "Oxanium", serif;
}

.light {
  position: absolute;
  z-index: -1; /* This puts the light behind the main container */
  width: 700px;
  height: 700px;
  background: radial-gradient(circle, rgba(163, 29, 29, 0.8) 0%, rgba(0, 0, 0, 0) 70%);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
}
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(163, 29, 29, 0.8);

  z-index: -1;
  @media(max-width: 982px){
    width: 100%;
    position: absolute;

  }
}

.scroller-container {
  background-color: rgba(61, 3, 1, 0.6);
  position: relative;
  z-index: 10; /* Ensures the scroller container is in front of the light */
  font-family: "Oxanium", serif;
}

.main-info-container {
  position: relative;
  z-index: 3; /* Ensures the main info is in front of the light */
}

.menu-item-selected {
  cursor: pointer;
  background-color: var(--black);
  padding: 4px 8px;
  color: rgba(163, 29, 29, 0.8);
  font-size: 18px;
  font-weight: bold;
  font-family: "Oxanium", serif;
}
.display-none{
  display: none;
}
.menu-item {
  font-size: 18px;
  font-family: "Oxanium", serif;
  cursor: pointer;
  transition: all 0.3s ease;
}
.about-text{
  font-size: 16px;
  font-weight: 600;
}
.my-name {
  font-family: "Oxanium", serif;
  font-weight: bold;
}

.my-title {
  font-family: "Oxanium", serif;
  font-size: 42px;
}

.header-card-item {
  border-radius: 0;
  width: 100%;
  height: 250px;
  transition: all 0.5s ease;
  @media( max-width: 982px){ 
    height: 100%;
    
  }
}

.header-card-item:hover {
  
  scale: 1.02;
}

.icon-computer {
  font-size: 64px;
}

.header-card-item > .card-header-content >.tags-container > .tag-line {
  background-color: var(--white); /* Changes tag-line color when parent is hovered */
  transition: background-color 0.5s ease; /* Smooth transition */
}

.tag-line {
  background-color: var(--white); /* Initial color */
  height: 80px;
  width: 3px;
  border-radius: 100px;
  transition: background-color 0.5s ease; /* Smooth transition */
  @media(max-width: 460px){
      height: 130px;
  }
}

.text-content {
  top: 24px;
  left: 60px;
  font-size: 16px;
  font-weight: 600;
}

.icon-image {
  width: 50px;
  height: 50px;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.expriences{
  margin-top: 60px;
}
.stack{
  display: flex;
  justify-content: center;
  
}
.link-item{
  transition: all 0.5s ease;
}
.link-item:hover{
  color: var(--white);
  scale: 1.05;
}
.exprience-card{
  width: 100%;
  padding: 16px 16px;
  margin-bottom: 16px;
  color: var(--white);
  display: flex;
  gap: 16px;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  @media(max-width: 982px){
    padding: 8px;
  }
}
.exprience-card:hover{
  background-color: rgba(163, 29, 29, 0.3);;
}
.download-resume-btn{
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  color: var(--white);
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: rgba(163, 29, 29, 0.6);
  padding: 8px;
}
.download-resume-btn:hover{
  background-color: var(--white);
  color: var(--black);
}
.date{
  font-size: 12px;
  text-wrap: nowrap;
@media(max-width: 982px){
    font-size: 10px;
  }
}
.date-container{
  width: 85px;

}
.title{
  font-weight: bold;
  font-size: 24px;
  @media(max-width: 982px){
    font-size: 16px;
  }
}
.content{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 85%;
  transition: all 0.5s ease;
}

.skills-container{
  display: flex;
  gap: 8px;
}
.skill-item{
  border-radius: 9999px;
  padding: 4px 12px;
  background: rgba(163, 29, 29, 0.6);
  color: var(--white);
  font-size: 12px;
  font-weight: 600;
  transition: all 0.5s ease;
}
.skill-item:hover{
  background-color: var(--white);
  color: var(--black);
}
.description{
  color: var(--primary);
}
.frontend{
  padding: 16px;
  transition: all 0.5s ease;
  height: 100%;
}
.frontend{
  background-color: rgba(163, 29, 29, 0.3);


}
.backend{
  padding: 16px;
  transition: all 0.5s ease;
}
.backend{
  background-color: rgba(163, 29, 29, 0.3);

}.stack-item {
  position: relative;
  height: 40px;  /* Box height */
  perspective: 800px; /* Depth effect */
  cursor: pointer;
}

.stack-item-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.4s ease-in-out;
}

.stack-item-front,
.stack-item-back,
.stack-item-top,
.stack-item-bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  backface-visibility: hidden;
  @media(max-width: 982px){
    font-size: 10px;
  }
}

/* Front Side */
.stack-item-front {
  background-color:  rgba(163, 29, 29, 1);
  color: var(--white);
  transform: translateZ(10px);
}

/* Back Side */
.stack-item-back {
  background-color: var(--white);
  color: var(--black);
  transform: rotateX(180deg) translateZ(10px);
}

/* Top Side */
.stack-item-top {
  background-color: var(--white);
  color: var(--black);
  height: 20px; /* Half height to give thickness */
  transform: rotateX(90deg) translateY(-10px);
}

/* Bottom Side */
.stack-item-bottom {
  background-color: var(--white);
  color: var(--black);
  height: 20px;
  transform: rotateX(-90deg) translateY(10px);
}

/* Hover Effect */
.stack-item:hover .stack-item-inner {
  transform: rotateX(180deg);
}.mat-grid-tile {
  overflow: hidden;
  border-radius: 8px;
}

/* Smooth Overlay */
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Dark overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 8px;
  opacity: 1;
  transform: scale(1); /* Ensure default state */
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

/* Title */
.project-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}

/* Description */
.project-description {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.9;
}

/* Image Styling */
.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s ease-in-out;
}

/* Hover Effects */
.mat-grid-tile:hover .project-overlay {
  opacity: 0; /* Smooth fade out */
  transform: scale(1.1); /* Floating effect */
}

.mat-grid-tile:not(:hover) .project-overlay {
  opacity: 1; /* Smooth fade in */
  transform: scale(1); /* Ensure it returns smoothly */
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out; /* Keep transition */
}

.mat-grid-tile:hover .project-image {
  transform: scale(1.1) translateY(-5px); /* Zoom and float */
}




.thank-you-section {
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.7s ease-in-out;
}

.thank-you-section.opacity-100 {
  opacity: 1;
  transform: translateY(0);
}

.btn {
  padding: 10px 20px;
  border: 2px solid white;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: white;
  color: black;
}


html {
  scroll-behavior: smooth;
}