

@if(isAuth){
    <app-holographic-background></app-holographic-background>

    <router-outlet></router-outlet>

}
@else{
    @if(isVisible){
        <div class="menu-container w-screen h-screen relative ">
            <app-circular-menu [isVisible]="isVisible" (onCloseMenu)="closeCircularMenu()" ></app-circular-menu>

        </div>
    }@else if (isPortfolio) {
        <router-outlet></router-outlet>

    }
    
    @else {
        <div class="fixed top-0 left-0 w-full px-10 py-2 flex flex-row-reverse bg-body">
            <div class="main-header-layout flex flex-row gap-2 h-fit">
               
                <app-setting></app-setting>
                <app-profile></app-profile>
                @if(!isHome){
                    <button mat-icon-button (click)="openCircularMenu()" class="icon-menu"></button>
                }
            </div>
        </div>
        
        <div class="main-layout px-10 overflow-y-hidden overflow-x-hidden h-screen bg-body" style="height: screen;">
            <router-outlet></router-outlet>
    
        </div>
    }
    


}
