<div class="container">
    <div class="img">
        @switch (selectedAnimation) {
            @case ('bounce') {
                <img [@bounce]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('flash') {
                <img [@flash]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('rubberBand') {
                <img [@rubberBand]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('shake') {
                <img [@shake]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('swing') {
                <img [@swing]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('tada') {
                <img [@tada]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('wobble') {
                <img [@wobble]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('jello') {
                <img [@jello]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('heartBeat') {
                <img [@heartBeat]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('headShake') {
                <img [@headShake]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('bounceIn') {
                <img [@bounceIn]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('bounce') {
                <img [@bounce]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('bounceInDown') {
                <img [@bounceInDown]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('bounceInLeft') {
                <img [@bounceInLeft]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('bounceInRight') {
                <img [@bounceInRight]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('bounceInUp') {
                <img [@bounceInUp]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('bounceOut') {
                <img [@bounceOut]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('bounceOutDown') {
                <img [@bounceOutDown]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('bounceOutLeft') {
                <img [@bounceOutLeft]="animationState" src="\icons\icon_27.png" alt="" />
            }

            @case ('bounceOutRight') {
                <img [@bounceOutRight]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('bounceOutUp') {
                <img [@bounceOutUp]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('fadeIn') {
                <img [@fadeIn]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('fadeInDown') {
                <img [@fadeInDown]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('fadeInDownBig') {
                <img [@fadeInDownBig]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('fadeInLeft') {
                <img [@fadeInLeft]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('fadeInRight') {
                <img [@fadeInRight]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('fadeInRightBig') {
                <img [@fadeInRightBig]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('fadeInUp') {
                <img [@fadeInUp]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('fadeOut') {
                <img [@fadeOut]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('fadeOutDown') {
                <img [@fadeOutDown]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('fadeOutDownBig') {
                <img [@fadeOutDownBig]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('fadeOutLeft') {
                <img [@fadeOutLeft]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('fadeOutLeftBig') {
                <img [@fadeOutLeftBig]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('fadeOutRight') {
                <img [@fadeOutRight]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('fadeOutRightBig') {
                <img [@fadeOutRightBig]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('fadeOutUp') {
                <img [@fadeOutUp]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('fadeOutUpBig') {
                <img [@fadeOutUpBig]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('flip') {
                <img [@flip]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('flipInX') {
                <img [@flipInX]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('flipInY') {
                <img [@flipInY]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('flipOutX') {
                <img [@flipOutX]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('flipOutY') {
                <img [@flipOutY]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('lightSpeedIn') {
                <img [@lightSpeedIn]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('lightSpeedOut') {
                <img [@lightSpeedOut]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('rotateIn') {
                <img [@rotateIn]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('rotateInDownLeft') {
                <img [@rotateInDownLeft]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('rotateInUpLeft') {
                <img [@rotateInUpLeft]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('rotateInUpRight') {
                <img [@rotateInUpRight]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('rotateOut') {
                <img [@rotateOut]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('rotateOutDownLeft') {
                <img [@rotateOutDownLeft]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('rotateOutDownRight') {
                <img [@rotateOutDownRight]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('rotateOutUpLeft') {
                <img [@rotateOutUpLeft]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('rotateOutUpRight') {
                <img [@rotateOutUpRight]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('slideInUp') {
                <img [@slideInUp]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('slideInDown') {
                <img [@slideInDown]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('slideInLeft') {
                <img [@slideInLeft]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('slideInRight') {
                <img [@slideInRight]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('slideOutUp') {
                <img [@slideOutUp]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('slideOutDown') {
                <img [@slideOutDown]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('slideOutLeft') {
                <img [@slideOutLeft]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('slideOutRight') {
                <img [@slideOutRight]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('zoomIn') {
                <img [@zoomIn]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('zoomInDown') {
                <img [@zoomInDown]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('zoomInLeft') {
                <img [@zoomInLeft]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('zoomInRight') {
                <img [@zoomInRight]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('zoomInUp') {
                <img [@zoomInUp]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('zoomOutDown') {
                <img [@zoomOutDown]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('zoomOutLeft') {
                <img [@zoomOutLeft]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('zoomOutRight') {
                <img [@zoomOutRight]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('zoomOutUp') {
                <img [@zoomOutUp]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('hinge') {
                <img [@hinge]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('jackInTheBox') {
                <img [@jackInTheBox]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('rollIn') {
                <img [@rollIn]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('rollOut') {
                <img [@rollOut]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('collapse') {
                <img [@collapse]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('collapseHorizontally') {
                <img [@collapseHorizontally]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('rotate') {
                <img [@rotate]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('rotate90') {
                <img [@rotate90]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('rotate720') {
                <img [@rotate720]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @case ('hueRotate') {
                <img [@hueRotate]="animationState" src="\icons\icon_27.png" alt="" />
            }
            @default {
                <img [@bounce]="animationState" src="\icons\icon_27.png" alt="" />
            }
        }
    </div>
    <div class="tools-container">
        <mat-form-field appearance="fill">
            <mat-label>Choose</mat-label>
            <mat-select (selectionChange)="selectAnimation($event)" >
                <ng-container *ngFor="let animationGroup of options">
                    <mat-optgroup [label]="animationGroup.label">
                        <mat-option *ngFor="let animation of animationGroup.animations" [value]="animation">
                            {{ animation }}
                        </mat-option>
                    </mat-optgroup>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <div class="animation-btn-container">
            <button mat-flat-button color="primary" class="animate-btn" (click)="animate()">Animate it</button>
        </div>
    </div>
</div>
