
$hookers-green: #5A7975;
$golden-brown: #947538;
$cafe-noir: #48381E;
$khaki: #A19B7E;
$dutch-white: #E0DAB4;
$lawn-green: #7EF124;
$forest-green: #42920A;
$black: #010100;
$sgbus-green: #6CD122;
$dark-moss-green: #356A14;
$dark-green: #122806;
