<div class="data-container flex h-full ">
    <div class="data-left-content-container flex gap-4 w-full h-full  items-center">
        <div class="stat-navigation-side-bar-container h-fit flex flex-col py-1 gap-9">
            <button mat-icon-button [routerLink]="'/data'" [queryParams]="{type:'overview'}"  class="icon-view_comfy" [class.selected]="routingParam === 'overview'"></button>
            <button mat-icon-button [routerLink]="'/data'" [queryParams]="{type:'tasks'}" class="icon-checkbox-checked"[class.selected]="routingParam === 'tasks'"></button>
            <button mat-icon-button [routerLink]="'/data'" [queryParams]="{type:'goals'}" class="icon-flag" [class.selected]="routingParam === 'goals'"></button>
            <button mat-icon-button [routerLink]="'/data'" [queryParams]="{type:'skills'}" class="icon-account_tree" [class.selected]="routingParam === 'skills'"></button>
            <button mat-icon-button [routerLink]="'/data'" [queryParams]="{type:'finance'}" class="icon-credit-card" [class.selected]="routingParam === 'finance'"></button>
            <button mat-icon-button [routerLink]="'/data'" [queryParams]="{type:'calendar'}" class="icon-calendar" [class.selected]="routingParam === 'calendar'"></button>
        </div>
        @switch (routingParam) {
       
            @case('tasks'){
                <app-data-tasks class="w-full"></app-data-tasks>
            }
        }
   
    
    
</div>
