<mat-dialog-content>
  <form
    class="data-task-form"
    [formGroup]="tagForm"
    novalidate
    (ngSubmit)="onSubmit()"
  >
    <div class="example-container flex flex-col gap-2">
      <div class="row">
</div>
      <div class="row">
        <mat-form-field class="w-2/4">
          <mat-label>Title</mat-label>
          <input
            matInput
            placeholder="tag name"
            formControlName="title"
            required
          />
          <mat-error>this field is required!</mat-error>
        </mat-form-field>
      
        
        <mat-form-field>
          <mat-label>Color</mat-label>
          <mat-select  formControlName="color" placeholder="select tag color">
            @for (color of colors; track $index) {
              <mat-option  [value]="color.value">
                <div class="color-item-container flex justify-between gap-2 w-full">
                  <span class="color-name">
                    {{color.name}}
                  </span>
                  <span [class]="color.class + ' w-7 h-7'">

                  </span>
                </div>
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button  (click)="onCancel()" color="error" >Cancel</button>
  <button mat-flat-button   (click)="onSubmit() " color="primary">Create Task</button>
</mat-dialog-actions>