@tailwind base;
@tailwind components;
@tailwind utilities;
@import './app/shared/styles/font-icons.scss';
@import './app/shared/styles/brand-icons.scss';

@import url('./../node_modules/ngx-spinner/animations/ball-pulse-sync.css');
@import url('./../node_modules/ngx-spinner/animations/square-jelly-box.css');


body{
  background-image: linear-gradient(to right top, #00fbfb, #00cdcd, #00a1a1, #007777, #004f4f);background-image: linear-gradient(to right top, #191c1c, #151818, #0f1515, #081010, #000b0b);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


//background-image: linear-gradient(to right top, #7ef124, #6dad16, #516f13, #2f3710, #010100);
//background-image: linear-gradient(to right top, #429209, #3e6b07, #32460a, #202508, #010100);
//background-image: linear-gradient(to right top, #5a7975, #678376, #788c77, #8b9479, #a19b7e);
//background-image: linear-gradient(to right top, #356a14, #314e0f, #27350d, #1b1d07, #010100);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::-webkit-scrollbar{
    width: 7px;
  }
  ::-webkit-scrollbar-track{
    background: var(--border);
  }
  ::-webkit-scrollbar-thumb:hover{
    background: var(--secondaryBody);
  }
  ::-webkit-scrollbar-thumb{
    background: var(--white);
    transition: transform(background) 0.5s ease ;
    border-radius: 24px;
    transition: all 0.5s ease;

  }

  :root{
   
    --primary: #E5B8F4;
    --secondary: #C147E9;
    --tertiary: #32161F;
    --body: #31363F;
    --secondaryBody: #222831;
    --tertiaryBody: #547AA5;
    --success: #499F68;
    --error: #FA7070;
    --warning: #FFC53A;
    --white: #f2f2f2;
    --black: #0F0E0E;
    --lightText: #fdfdfd;
    --darkText: #464646;
    --gray: #cecccc;
    --border:#3b3b3b;
    
  }

  .card {
  
    background: var(--secondaryBody); /* Semi-transparent black */
    border-radius: 8px !important; /* Rounded corners */
    position: relative !important;
    z-index: 999999;
    background-clip: padding-box !important; /* Ensure background is clipped inside the border */
}

.card::before {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100px !important;
  height: 100px !important;
  margin: -2px;
  pointer-events: none !important;
  z-index: -1 !important; /* Push behind content */
  background-image: radial-gradient(circle at top left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 40%) !important; /* Adjusted gradient */
  border-radius: 8px;
}

.card::after {
  content: "" !important;
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
  width: 100px !important;
  height: 100px !important;
  margin: -2px;
  pointer-events: none !important;
  z-index: -1 !important; /* Push behind content */
  background-image: radial-gradient(circle at bottom right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 40%) !important; /* Adjusted gradient */
  border-radius: 8px;
}
.mat-mdc-card{
  background-color: var(--secondaryBody) !important;
  color: var(--lightText) !important;
  border: 0.5px solid var(--border) !important;
  box-shadow: none !important;
  border-radius: 8px !important;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px !important;
}
.mat-mdc-card-header{
  color: var(--lightText) !important;
  padding: 0px !important;
}
.mat-mdc-card-content{
  color: var(--lightText) !important;
  padding: 0px !important;
}
.mat-mdc-card-actions{
  color: var(--lightText) !important;
  padding: 0px !important;
}
.mdc-button {
  border-radius: 8px !important;
}
.mdc-button.mat-primary{
  background-color: var(--white) !important;
  color: var(--black) !important;
}
.mdc-button.mat-secondary{
  background-color: var(--secondaryBody) !important;
  color: var(--lightText) !important;
  box-shadow: none !important;
  border: 0.5px solid var(--border) !important;
}
.mat-mdc-text-field-wrapper{
  background-color: var(--black) !important;
  border-radius: 8px !important;
  border: 0.5px solid var(--border) !important;
  margin-top: 4px !important;
  transition: all 0.5s ease;

}
.mat-mdc-text-field-wrapper:focus{
  border-color: var(--white) !important;
}
.mdc-text-field--focused{
  border-color: var(--white) !important;
  
}
.mdc-line-ripple--active::after{
  border: none !important;
}
.mdc-line-ripple::before{
  border-color:transparent !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above{
  color: var(--white) !important;
}
.mat-mdc-form-field-error{
  color: var(--error) !important;
}
.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label--float-above{
  color: var(--error) !important;
}

.mat-button .mat-button-focus-overlay {
  background-color: transparent;
}
  
.mat-mdc-button:hover .mat-mdc-button-persistent-ripple::before{
  opacity: 0.3 !important;
  background-color: var(--border);
}
.mat-mdc-unelevated-button:not(:disabled).mat-error{
  background-color: var(--error) !important;
  color: var(--black);
}
.mat-mdc-raised-button:hover .mat-mdc-button-persistent-ripple::before{
  opacity: 0.3 !important;
  background-color: var(--border);
}
.mat-mdc-raised-button:hover .mat-mdc-button-persistent-ripple::after{
  opacity: 0.3 !important;
  background-color: var(--border);
}
.mat-mdc-button{
  color: var(--white) !important;
}
.mat-mdc-card-header{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.error-text{
  color: var(--error);
}
.mat-mdc-input-element::placeholder{
  color: var(--darkText) !important;
}
.mat-mdc-dialog-content{
  background-color: var(--secondaryBody) !important;
  
}
.mat-mdc-dialog-surface{
  border: 1px solid var(--border) !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  color: var(--lightText) !important;
  background-color: var(--secondaryBody) !important;
}
.mat-mdc-dialog-actions{
  background-color: var(--secondaryBody) !important;
}
.mat-mdc-option{
  background-color: var(--secondaryBody) !important;
}
.mat-mdc-option:hover{
  background-color: var(--border) !important;
}
.mdc-list-item--selected{
  background-color: var(--border) !important;
}
.mat-mdc-select-panel{
  background-color: var(--secondaryBody) !important;
}
.mat-mdc-form-field.mat-focused .mat-mdc-select-arrow{
  color: var(--primary) !important;
}
.mat-datepicker-content-container{
  border-radius:8px !important;
  background-color: var(--secondaryBody) !important;
}
.mat-datepicker-actions > .mat-mdc-button{
  border: 1px solid var(--border) !important;
  
}
.mat-datepicker-actions >.mat-mdc-raised-button{
  color: var(--white) !important;
}
.mat-calendar-body-selected{
  background-color: var(--gray) !important;
  color: var(--black) !important;
}
.mat-calendar-body-in-range::before{
  background-color: var(--darkText) !important;
}
.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical){
  border: 1px solid var(--gray) !important;
}
.mat-mdc-tab.mdc-tab--active:focus .mdc-tab-indicator__content--underline{
  border-color: var(--primary) !important;
}
.mat-mdc-tab.mdc-tab--active {
  transition: all 0.5s ease;
}
.mat-mdc-tab.mdc-tab--active:focus {
  background-color: var(--border) !important;
}
.mat-mdc-tab .mdc-tab-indicator__content--underline{
  border-color: var(--primary) !important;

}
.not-found{
  width: 200px;
}





