<div class="login-form-container w-300">
  <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card >
      <mat-card-header >
        <mat-card-title >Get to Work </mat-card-title>
        <p class="text-sm">Enter your credentials to access your Work Space.</p>
      </mat-card-header>
      <mat-card-content >

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>email</mat-label>
              <input matInput placeholder="email" formControlName="email" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input
                formControlName="password"
                matInput
                [type]="hide ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                type="button"
                matSuffix
                (click)="onShowPasswordClick($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error>this field is required!</mat-error>
            </mat-form-field>
            
          </div>
          
        </div>
        @if(error.hasError){
          <span [@bounceInDown]="animationState" class=" error-text pl-1">{{error.text}}</span>
        }
      </mat-card-content>
      <mat-card-actions >
        <a  mat-button type="link" [routerLink]="['/auth/reset-password']">
          Forgot Password?</a
        >
        <div class="flex gap-2">
          <a mat-raised-button color="secondary"   type="link" [routerLink]="['/auth/register']"
            >Register</a
          >

          <button mat-flat-button  color="primary" type="submit">
              Submit


          
  

          </button>
         
        </div>
      </mat-card-actions>
      <ngx-spinner class="loader" [showSpinner]="isSubmiting" bdColor = "rgba(0, 0, 0, 0.5)" size = "medium" color = "#f2f2f2" type = "square-jelly-box" [fullScreen] = "false"><p style="color: white" > </p></ngx-spinner>

    </mat-card>
  </form>
</div>


